include ../layout/mixins

.about
    .container
        .about__inner
            .about__title.title О капитанах за 5 минут
            .about__video
                .about__video-inner
                    img.about__video-preview(src="img/about/video-preview.jpg", alt="")
                    video.about__video-player(src="")