include ../layout/mixins

.life
    .container
        .life__inner
            .life__title.title Активная студенческая жизнь
            .life__slider
                .life__slider-inner
                    .slider_first                 
                        +slides()
                        +slides()
                        +slides()
                        +slides()
                        +slides()
                        +slides()
                        +slides()
                        +slides()
                        +slides()
                        +slides()
                        +slides()
                        +slides()
                    .arrows
                        .prev
                        .numSlides 1/12
                        .next